@import "tailwindcss";

:root {
  --background: #0f172a;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* globals.css */
* {
  -webkit-tap-highlight-color: transparent;
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline: none;
}

button {
  -webkit-appearance: none;
  appearance: none;
}

/* globals.css */
.progress-glow {
  box-shadow: 0 0 20px rgba(29, 185, 84, 0.45);
}

body {
  margin: 0;
  padding: 0;

  min-height: 100vh;
  min-height: 100dvh;

  overflow: hidden; /* 🚫 No page scroll */

  background-color: #171717;
  background-image: radial-gradient(
    ellipse at 50% 30%,
    rgba(29, 185, 84, 0.08) 0%,
    transparent 70%
  );
}

.safari-glow {
  background: radial-gradient(
    circle,
    rgba(29, 185, 84, 0.35) 0%,
    rgba(29, 185, 84, 0.15) 40%,
    transparent 70%
  );
}

@supports (-webkit-touch-callout: none) {
  .ios-glow {
    background: radial-gradient(
      circle,
      rgba(29, 185, 84, 0.35) 0%,
      rgba(29, 185, 84, 0.15) 40%,
      transparent 70%
    );
  }
}
